@font-face {
  font-family: "iconfont";
  /* Project id 4114630 */
  src: url('iconfont.woff2?t=1686331618116') format('woff2'),
    url('iconfont.woff?t=1686331618116') format('woff'),
    url('iconfont.ttf?t=1686331618116') format('truetype');
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pixelicon_right-pixel:before {
  content: "\e606";
}

.icon-pixelxiangsu_aixin:before {
  content: "\ed19";
}

.icon-pixelxiangsu_xiaoya:before {
  content: "\ed1a";
}

.icon-pixelxiangsu_biaoqing:before {
  content: "\ed1b";
}

.icon-pixelxiangsu_meiguihua:before {
  content: "\ed1c";
}

.icon-pixelxiangsu_tangguo:before {
  content: "\ed1d";
}

.icon-pixelxiangsu_xianrenzhang:before {
  content: "\ed1e";
}

.icon-pixelxiangsu_caomei:before {
  content: "\ed1f";
}

.icon-pixelxiangsu_tuzi:before {
  content: "\ed20";
}

.icon-pixelxiangsu_qizhi:before {
  content: "\ed21";
}

.icon-pixelxiangsu_wuqi:before {
  content: "\ed22";
}

.icon-pixelxiangsu_xigua:before {
  content: "\ed23";
}

.icon-pixelxiangsu_yaoshui:before {
  content: "\ed25";
}

.icon-pixelxiangsu_fangzi:before {
  content: "\ed26";
}

.icon-pixelxiangsu_youxiji:before {
  content: "\ed27";
}

.icon-pixelxiangsu_jinbi:before {
  content: "\ed28";
}

.icon-pixelxiangsu_shu:before {
  content: "\ed29";
}

.icon-pixelxiangsu_mao:before {
  content: "\ed2a";
}

.icon-pixelxiangsu_zuanshi:before {
  content: "\ed2b";
}

.icon-pixelxiangsu_pijiu:before {
  content: "\ed2c";
}

.icon-pixelcreate:before {
  content: "\e600";
}

.icon-pixeldown:before {
  content: "\e601";
}

.icon-pixelclose:before {
  content: "\e602";
}

.icon-pixeleye:before {
  content: "\e603";
}

.icon-pixelpig:before {
  content: "\e604";
}

.icon-pixelfemale:before {
  content: "\e605";
}

.icon-pixelright:before {
  content: "\e607";
}

.icon-pixeldelete:before {
  content: "\e608";
}

.icon-pixeleye-disabled:before {
  content: "\e609";
}

.icon-pixelhome:before {
  content: "\e60a";
}

.icon-pixellock:before {
  content: "\e60b";
}

.icon-pixelleft:before {
  content: "\e60c";
}

.icon-pixelset:before {
  content: "\e60d";
}

.icon-pixellove:before {
  content: "\e60e";
}

.icon-pixelmaikefeng:before {
  content: "\e60f";
}

.icon-pixelremove:before {
  content: "\e610";
}

.icon-pixelshopping:before {
  content: "\e611";
}

.icon-pixelmale:before {
  content: "\e612";
}

.icon-pixelcheck:before {
  content: "\e613";
}

.icon-pixelup:before {
  content: "\e614";
}

.icon-pixelwifi:before {
  content: "\e615";
}

.icon-pixeltop:before {
  content: "\e616";
}

.icon-pixelstar:before {
  content: "\e617";
}

.icon-pixelwarn:before {
  content: "\e618";
}

.icon-pixelupdate:before {
  content: "\e619";
}

.icon-pixelback:before {
  content: "\e61a";
}

.icon-pixelmessage:before {
  content: "\e61b";
}

.icon-pixeltag:before {
  content: "\e61c";
}

.icon-pixeluser:before {
  content: "\e61d";
}

.icon-pixelbottom:before {
  content: "\e61e";
}

.icon-pixelclock:before {
  content: "\e61f";
}

.icon-pixelcall:before {
  content: "\e620";
}

.icon-pixeljiangbei:before {
  content: "\e621";
}

.icon-pixelxiangsu-shuidi-01:before {
  content: "\e622";
}

.icon-pixelxiangsu-diaopai-01:before {
  content: "\e623";
}

.icon-pixelxiangsu-zipitang-01:before {
  content: "\e624";
}

.icon-pixelxiangsu-majiang-01:before {
  content: "\e625";
}

.icon-pixelxiangsu-yuanxiaotangyuan-01:before {
  content: "\e626";
}

.icon-pixelxiangsu-shanchu-01:before {
  content: "\e627";
}

.icon-pixelxiangsu-xiangrikui-01:before {
  content: "\e628";
}

.icon-pixelxiangsu-mifeng-01:before {
  content: "\e629";
}

.icon-pixelxiangsu-gezi-01:before {
  content: "\e62a";
}

.icon-pixelxiangsu-bingqilin:before {
  content: "\e62b";
}

.icon-pixelxiangsu-kafei:before {
  content: "\e62c";
}

.icon-pixelxiangsu-kouzhao:before {
  content: "\e62d";
}

.icon-pixelxiangsu-fangwuloudong:before {
  content: "\e62e";
}

.icon-pixelxiangsu-denglong:before {
  content: "\e62f";
}

.icon-pixelxiangsu-zhongguojie:before {
  content: "\e630";
}

.icon-pixelxiangsu-erji:before {
  content: "\e631";
}

.icon-pixelxiangsu-reshui:before {
  content: "\e632";
}

.icon-pixelxiangsu-kele:before {
  content: "\e633";
}

.icon-pixelxiangsu-zhaji:before {
  content: "\e634";
}

.icon-pixela-lajitongpixel_huaban1:before {
  content: "\e635";
}

.icon-pixela-youxijipixel_huaban1:before {
  content: "\e636";
}

.icon-pixela-xinfengpixel_huaban1:before {
  content: "\e637";
}

.icon-pixela-suopixel_huaban1:before {
  content: "\e638";
}

.icon-pixelxiangsufeng_dayinji:before {
  content: "\e7cf";
}

.icon-pixelxiangsufeng_dianshiji:before {
  content: "\e7d1";
}

.icon-pixelxiangsufeng_huapen:before {
  content: "\e7d2";
}

.icon-pixelxiangsufeng_fangzi:before {
  content: "\e7d3";
}

.icon-pixelxiangsufeng_xianhua:before {
  content: "\e7d4";
}

.icon-pixelxiangsufeng_xunzhang:before {
  content: "\e7d5";
}

.icon-pixelxiangsufeng_kejian:before {
  content: "\e7d6";
}

.icon-pixelxiangsufeng_xiaoxi:before {
  content: "\e7d7";
}

.icon-pixelxiangsufeng_liwu:before {
  content: "\e7d8";
}

.icon-pixelxiangsufeng_dingwei:before {
  content: "\e7d9";
}

.icon-pixelxiangsufeng_shouyinji:before {
  content: "\e7da";
}

.icon-pixelxiangsufeng_wenjianjia:before {
  content: "\e7db";
}

.icon-pixelxiangsufeng_gouwu:before {
  content: "\e7dc";
}

.icon-pixelxiangsufeng_huojian:before {
  content: "\e7dd";
}

.icon-pixelxiangsufeng_xiangji:before {
  content: "\e7de";
}

.icon-pixelxiangsufeng_shuji:before {
  content: "\e7df";
}

.icon-pixelxiangsufeng_feidie:before {
  content: "\e7e0";
}

.icon-pixelxiangsufeng_yiwanmian:before {
  content: "\e7e1";
}

.icon-pixelxiangsufeng_xinfeng:before {
  content: "\e7e2";
}

.icon-pixelxiangsufeng_laba:before {
  content: "\e7e3";
}

.icon-pixelxiangsufeng_maozi:before {
  content: "\e7e4";
}

.icon-pixelxiangsufeng_reqiqiu:before {
  content: "\e7e5";
}

.icon-pixelxiangsufeng_youxiang:before {
  content: "\e7e6";
}

.icon-pixelxiangsufeng_tupian:before {
  content: "\e7e7";
}